.container {
	background: #3f51b5;
	border-radius: 0.5rem;
	padding: 1rem;
	color: white;

	.select-container {
		width: 20rem;

		select {
			width: 100%;
			font: inherit;
			height: 2rem;
			border-radius: 0.25rem;
		}

		.selected {
			display: flex;
			border: 1px solid;
			border-radius: 0.25rem;
			justify-content: space-between;
			align-items: center;
			padding: 0.25rem;
			height: 2rem;
		}

		.placeholder {
			border: 1px dashed;
			border-radius: 0.25rem;
			padding: 0.25rem;
			height: 2rem;
		}

		* + * {
			margin-top: 0.5rem;
		}
	}
}
